
<p id="notice"><%= notice %></p>

<h1 class="index-title">ウミガメのスープ問題集</h1>
<div class="index-questionarea">
  <% @posts.each do |post| %>
    <div class="index-question">
      <p class="proposer"><%= post.username %>さんからの問題</p>
      <p class="question-content"><%= post.body %></p>
      <%# ここをshow.html.erbに記述したらいける %>
      <div class="good_answerlink">
      <% if user_signed_in? %>
        <% if current_user.already_liked?(current_user) %>
          <p><%= link_to 'いいねを取り消す', post_like_path(post), method: :delete %></p>
        <% else %>
          <p class="goodbtn"><%= link_to(content_tag(:i, '', class: 'fas fa-heart'), post_likes_path(post),method: :post) %><%= post.liked_users.count %></p>　　<%# <%= link_to 'いいね', post_likes_path(post),method: :post %>
        <% end %>
        <% if post.user_id == current_user.id %>
          <p class="answerlink"><%= link_to '解答作成', new_post_answer_path(post) %></p>
        <% end %>
      <% end %>
      </div>
      <div class="index_icon_area">
        <p><%= link_to(content_tag(:i, '', class: 'fas fa-angle-double-right'), post_path(post)) %></p>
        <p><%= link_to(content_tag(:i, '', class: 'far fa-edit'), edit_post_path(post)) %></p>
        <p><%= link_to(content_tag(:i, '', class: 'far fa-trash-alt'), post_path(post), :method => :delete) %></p>
        <p><%= link_to(content_tag(:i, '質問', class: 'far fa-comment-dots'), new_post_comment_path(post)) %></p>
      </div>
      <%# ここをshow.html.erbに記述したらいける %>
    </div>
  <% end %>
</div>