<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
<h3>いいね件数: <%= @post.likes.count %></h3>
  <% if current_user.already_liked?(@post) %>
    <%= button_to 'いいねを取り消す', post_like_path(@post), method: :delete %>
  <% else %>
    <%= button_to 'いいね', post_likes_path(@post) %>
  <% end %>

</div>


<h2>いいねしたユーザー</h2>
<% @post.liked_users.each do |user| %>
  <p><%= user.name %></p>
<% end %>

<%# # 投稿したコメントを表示★★★★★★★★★★★★★★★★★★ %>
<% @post.comments.each do |comment| %>
  <p><%= comment.answer %></p>
<% end %>

<% @post.answers.each do |answer| %>
  <p><%= answer.body %></@>
<% end %>
<%# ここまで %>


<%= link_to '質問する', new_post_comment_path(@post) %> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'TOP', posts_path %>
